[Unit]
Description=ptthonapp
After=network.target

[Service]
Type=simple
User=ubuntu
ExecStart=/usr/bin/python3 /tmp/flask_python/pythonapp/main.py
Restart=on-failure

[Install]
WantedBy=multi-user.target