<html>
  <head>

    <!-- General Settings -->
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="en-us">

    <!-- Meta Tags -->
    <title>MY WEBSITE</title>
    <meta name="description" content="description">

    <!-- Static Assets -->
    <link rel="icon" href="logo.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="app.css" />

  </head>
  <body>
    <!-- Page Wrapper -->
    <div class="wrapper">
      <!-- Header -->
      <div class="header">
        <!-- Logo -->
        <a class="logo" href="/">
          <img src="logo.png" alt="Logo" />
        </a>
        <!-- Navigation -->
        <ul class="menu">
          <li>
            <a href="/">Home</a>
          </li>
          <li class="loggedOut">
            <a href="/create-user">Signup</a>
          </li>
          <li class="loggedOut">
            <a href="/login-user">Login</a>
          </li>
          </li>
          <li class="loggedIn">
            <a href="#" id="logoutButton">Logout</a>
          </li>
        </ul>

        <div class="clear"></div>
      </div>

      <!-- Page-Specific Content -->
      <div class="content">