<h1>About NodeJS</h1>
<h2>Quick Start</h2>

<div class="blurb" >
    <p style="font-size: medium;">
      Node.js is an open-source and cross-platform JavaScript runtime environment. It is a popular tool for almost any kind of project!
      Node.js runs the V8 JavaScript engine, the core of Google Chrome, outside of the browser. This allows Node.js to be very performant.
    </p>  
</div>
<br> <br> <br>
<div class="ctaWrapper">
  <a class="cta green" href="create-user">Get Started</a>
  <a class="cta blue" href="login-user">Login</a>
</div>