<h1>Welcome</h1>

<div class="formWrapper">
        <div class="formError"></div>
        <div class="inputWrapper">
          <div class="inputLabel">First Name</div>
          <input id="fn" type="text" name="firstName" placeholder="John" value="" required />
        </div>
        <div class="inputWrapper">
          <div class="inputLabel">Last Name</div>
          <input type="text" name="lastName" placeholder="Smith" required />
        </div>
        <div class="inputWrapper">
            <div class="inputLabel">Username</div>
            <input type="text" name="username" placeholder="jonny" required />
          </div>
        <div class="inputWrapper">
          <div class="inputLabel">Email</div>
          <input type="text" name="email" placeholder="example.com" required />
        </div>
</div>